<!DOCTYPE html>
<html>

<!-- head section -->
{% include "head.html" %}

<!-- below is  the main HTML content -->
<body>
<div class="wrapper">
	
	<!-- page header -->
	{% include "header.html" %}
	
	<!-- main navigation bar -->
	{% include "navbar.html" %}

	<div class="content">
		<h1 align="middle"> Welcome to my portal! </h1>
			<div align="middle">
				<img src="static/image/me001.jpg" alt="welcome" width="40%" height="40%">
			</div>
		<p align="middle"> I created this web as part of excercises for UDACITY Nano-Degree program. 
			On the left side (in the menu) you can finde <embed>Item Catalog</embed> project.
			This catalogue includes my favourite movies.  </p>
	</div>

	<div class="footer">
		<span>&copy; 2018 by <a href="mailto:mc200d@att.com">Martina Bauerova</a></span>
	</div>
</div>
</body>
</html>