<!DOCTYPE html>
<html>

<!-- head section -->
{% include "head.html" %}

<!-- below is  the main HTML content -->
<body>
<div class="wrapper">
	
	<!-- page header -->
	{% include "header.html" %}
	
	<!-- main navigation bar -->
	{% include "navbar.html" %}

	<div class="content">

		<div class="subheader">
			<h1>{{category.name}}</h1>
			<h3>Adding new movie</h3>
			<hr />

		</div>


		<form action="{{url_for('newMovieItem', category_id=category_id)}}" method = 'POST'>
			<table>
				<tr>
					<td>Title<td>
					<td><input type="text" name="title" placeholder="Type in title" size=60><td>
				</tr>
				<tr>
					<td>Published<td>
					<td><input type="text" name="published" placeholder="Type in published year" size=20><td>
				</tr>
				<tr>
					<td>Poster</td>
					<td>Send the poster image by eamil to <a href="mailto:mc200d@att.com">admin</a>!</td>
				</tr>
				<tr>
					<td>Storyline<td>
					<td><textarea name="storyline" placeholder="Type in storyline"></textarea><td>
				</tr>
			</table>
			<p>
				<input type='submit' value='Create'>
				<input type='button' value='Cancel' onClick='history.back()' />
			</p>
		</form>

	</div>

	<!-- page footer -->
	{% include "footer.html" %}

</div>

</body>
</html>